<header>
    <section class="presentacion">
        <img class="logo" src="../../logo.png" alt="Logo de la página" />
        <p class="nombre">Anahata - Capacitación y Prácticas alternativas</p>
        <p>Sanación personal</p>
    </section>

    <section class="contacto">
        <div class="ask-to-whatsapp">
            <i class="bi bi-whatsapp"></i>
            <button>+54 9 11 6850 6625</button>
        </div>

        <div>
            <i class="bi bi-envelope"></i>
            <a target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSKjfvNQZNVBKwsDFQwvXTjgDMldKDMmMzScxVHBvTsRPjrJQvPJWCHphfqwKxJlCKRSpdnH">jorgeguillermo1134@yahoo.com.ar</a>
        </div>
    </section>

    <nav  class=`nav disabled`>
        <ul>
            <li><a href="/" class="">Inicio</a></li>
            <li><a href="/sobre-mi" class="">Sobre mí</a></li>
            <li><a href="/reiki" class="">Reiki</a></li>
            <li><a href="/cursos-terapias" class="">Cursos / Terapias</a></li>
            <li><a href="#contacto" class="">Contacto</a></li>
        </ul>
        <i class="bi bi-x cerrar close-menu"></i>
    </nav>  

    <img  class="hamburguer" src="../../hamburguer.png" alt="Logo de menú hamburguesa">
</header>

<style>

    header {
        display: grid;
        grid-template-areas:
        "presentacion hamburguer"
        "contacto contacto";
        color: var(--clr-primary-200);
        align-items: center;

        .presentacion {
            justify-self: flex-start;
            grid-area: presentacion;
            display: flex;
            flex-direction: column;
            align-items: center;


            .logo {
                margin-left: 1rem;
                width: 70px;
                height: 70px;
            }

            p {
                font-size: 1.2rem;
                display: none;
            }

            .nombre {
                font-size: 3.5rem;
                color: var(--clr-primary-300);
            }
        }

        .contacto {
            grid-area: contacto;
            padding: .2rem;
            background-color: var(--clr-primary-200);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            color: #fff;

            img {
                width: 20px;
                height: 20px;
            }

            i {
                font-size: 1.4rem;
            }

            div {
                display: flex;
                align-items: center;
                gap: 0.2rem;
                cursor: pointer;
                color: #fff;

                a, button {
                    background-color: inherit;
                    border: none;
                    color: #fff;
                    font-size: 1rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        nav {
            transition: .3s ease all;
            transform: translateX(100%);
            padding: 0 1rem;
            z-index: 10000;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            width: 220px;
            background-color: var(--clr-primary-300);
            display: flex;
            align-items: center;
            justify-content: center;        

            ul {
                letter-spacing: 1px;
                display: flex;
                flex-direction: column;
                gap: 2rem;


                li {
                    font-size: 1.2rem;

                    a {
                        font-weight: 300;
                    }

                }
            }

            .cerrar {
                color: #fff;
                cursor: pointer;
                position: absolute;
                top: 20px;
                right: 16px;
                font-size: 2.5rem;
            }
        }

        .hamburguer {
            grid-area: hamburguer;
            margin-right: 1rem;
            justify-self: flex-end;
            height: 30px;
            width: 30px;
            order: -1;
            cursor: pointer;
        }
    }

    @media  screen and (width > 660px) {

        header {
            padding-block: 0;
            display: grid;
            grid-template-areas:
            "presentacion contacto"
            "nav nav";
            align-items: center;
            row-gap: 1rem;
            grid-template-columns: 1fr 1fr;

            .presentacion {
                padding-block: .2rem;
                justify-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;

                .logo {
                    width: 60px;
                    height: 60px;
                    margin: 0;
                }

                p {
                    display: block;
                    font-size: 1rem;

                }

                .nombre {
                    font-size: 1.2rem;
                    line-height: 1.4;
                    width: 70%;
                    color: var(--clr-primary-300);
                }
                
            }

            .contacto {
                margin-top: 3rem;
                justify-self: center;
    
                padding: 0;
                background-color: inherit;
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                gap: .5rem;

                img {
                    width: 20px;
                    height: 20px;
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    color: var(--clr-primary-300);
                    a,button {
                        color: var(--clr-primary-300);
                        background-color: inherit;
                        border: none;
                        cursor: pointer;
                        font-size: 1.2rem;
                    }
                }
            }

            nav {
                display: block !important;
                transform: translateX(0);

                grid-column: 1 / -1;
                padding-top: 0;
                position: static;
                width: auto;
                background-color: inherit;
                display: block;
                background-color: var(--clr-primary-200);
                padding: 1rem 0;

                ul {
                    flex-direction: row;
                    letter-spacing: 0;
                    justify-content: center;
                    gap: 3rem;

                    li:hover {
                        text-decoration: underline;
                    }
                }

                .cerrar {
                    display: none;
                }
            }

            .hamburguer {
                display: none;
            }
        }
    }

    @media  screen and (width > 950px) {
        header {
            gap: 0;
            grid-template-columns: auto;

            .presentacion {
                padding-block: .6rem;
                justify-self: center;
                display: grid;
                grid-template-areas:
                "logo nombre"
                "logo p";


                .logo {
                    justify-self: flex-end;
                    grid-area: logo;
                    width: 80px;
                    height: 80px;
                }

                p {
                    align-self: flex-start;
                    font-size: 1rem;
                    color: #694db1;
                    text-align: left;
                }

                .nombre {
                    text-align: left;
                    align-self: flex-end;
                    font-size: 1.2rem;
                    width: 80%;
                }
            }

            .contacto {
                margin-top: 0;
                img {  
                    width: 25px;
                    height: 25px;
                }

                div {
                    font-size: 1.2rem;
                    color: var(--clr-primary-300);

                }
            }

            nav {
                grid-column: 1 / -1;
                padding-top: 0;
                position: static;
                width: auto;
                background-color: inherit;
                display: block;
                padding: .5rem 0;
                background-color: var(--clr-primary-200);


                ul {
                    flex-direction: row;
                    letter-spacing: 0;
                    gap: 4rem;

                    li {
                        font-size: 1.1rem;
                    }
                }

                .cerrar {
                    display: none;
                }
            }

            .hamburguer {
                display: none;
            }
        }
    }

</style>

<script>
    import '../scripts/whatsapp.js'
</script>




